# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# IKLab sessions
.iklab/

# Tests / cache
.pytest_cache/
.mypy_cache/
.ruff_cache
.tox/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

